.place__like {
    width: 22px;
    height: 19px;
    background: url('../../../images/like.svg');
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.place__like:hover {
    opacity: 0.5;
}