.profile {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1320px) {
    .profile {
        padding: 40px 24px 50px;
    }
}

@media screen and (max-width: 740px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        padding: 42px 19px 36px;
    }
}


