.popup__caption {
    color: white;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
}